language: node_js
node_js:
    - "0.10"
    - "4.2"

services:

before_script:
    - chmod ugo-r  ./test/data/test-no-perms.log
    - chmod ugo-w ./test/data/nowrite
    - chmod ugo-r ./test/data/noread

after_success:
    - npm install istanbul codecov.io
    - chmod ugo+r ./test/data/noread
    - NODE_ENV=cov ./node_modules/istanbul/lib/cli.js cover ./node_modules/mocha/bin/_mocha -- -R spec
    - cat ./coverage/coverage.json | ./node_modules/codecov.io/bin/codecov.io.js

sudo: false
